* {
	margin: 0;
	border: none;
	padding: 0;
}

/* Navbar */
.navbar {
  background-color: oldlace;
}
/* End of Navbar */

/* Main */
main {
  padding-top: 56px;
}
/* End of Main */

/* Game area */
.tile-row {
  padding-bottom: 0.5em;
}

.tile-row .col-2 {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* Footer */
.footer {
  background-color: lightslategray;
}
/* End of Footer */