* {
	margin: 0;
	border: none;
	padding: 0;
}

/* Navbar */
.navbar {
  background-color: oldlace;
}
/* End of Navbar */

/* Main */
main {
  padding-top: 56px;
}
/* End of Main */

/* Game area */ 
#game-board {
  padding-top: 1em;
}

.tile-row {
  padding-bottom: 0.5em;
}

.tile-row .col-6 {
  padding-left: 5px;
  padding-right: 5px;
}

.col-6 .tile {
  background-color: blue;
  width: 170px;
  height: 170px;
}

/* Footer */
.footer {
  background-color: lightslategray;
}
/* End of Footer */